* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #2f4f30;
  color: #ffffff;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

.title {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.deck {
  box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.25);
  left: 10rem;
  margin-left: -7.5rem;
  position: relative;
  width: 15rem;
}

#player-decks, #computer-decks {
  height: 25rem;
}
