* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #2f4f30;
  color: #ffffff;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.title {
  display: flex;
  justify-content: center;
}

.title h1 {
  font-size: 3.5rem;
}

.title img {
  width: 3.5rem;
}

.summary p {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}

#btnNew, #btnAsk, #btnStop {
  font-size: 1.6rem;
  margin: 2rem 0.5rem;
}

.deck {
  box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.25);
  left: 10rem;
  margin-left: -7.5rem;
  position: relative;
  width: 15rem;
}

#playerDecks, #computerDecks {
  height: 25rem;
}